html,
body {
	position: relative;
	height: 100%;
}

body {
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
	margin: 0;
	background-color: rgb(1, 7, 63);
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 26px;
	color: #729933;
	float: left;
}

img {
	width: 200px;
}

.nav {
	display: block;
	list-style: none;
	padding: 0;
	float: right;
}

.nav li {
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
}

.nav a {
	color: #cccccf;
	font-weight: 600;
}

.header {
	background-color: rgb(15, 0, 31);
	color: #cccccf;
}

.header .container {
	background: transparent;
}

.header .container:after {
	content: '';
	display: block;
	clear: both;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 20px 10px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.726);
}

footer {
	border-top: 2px solid #cccccf;
}

footer .container {
	background: transparent;
	color: #cccccf;
}

.main {
	flex-grow: 2;
}

input {
	width: 79%;
	line-height: 20px;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid #729933;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 14px;
}

form button {
	width: 20%;
	line-height: 20px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #729933;
	border: 2px solid #729933;
	text-transform: uppercase;
	color: #f2f2f2;
	transition: ease-out 0.3s;
}

form button:hover {
	background-color: transparent;
	color: #729933;
}
